### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [80]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np
# File to Load (Remember to Change These)
file_to_load = r'C:\Users\13106\Desktop\bootcamp\pandas-challenge\purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [81]:
players = purchase_data_df["SN"].unique()
len(players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [82]:
unique_items = purchase_data_df["Item Name"].unique()
average_price = purchase_data_df["Price"].mean()
total_purchases = len(purchase_data_df)
total_revenue = purchase_data_df["Price"].sum()

In [83]:
number_unique_items = len(unique_items)

In [84]:
number_unique_items

179

In [85]:
average_price

3.050987179487176

In [86]:
total_purchases

780

In [87]:
total_revenue

2379.77

In [88]:
sumstats_df = pd.DataFrame([[number_unique_items, average_price, total_purchases, total_revenue]], columns=('number of unique items', 'average price', 'total purchases', 'total revenue'))
sumstats_df

   number of unique items  average price  total purchases  total revenue
0                     179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [89]:
gender_dems = pd.DataFrame(purchase_data_df['Gender'].value_counts())
gender_percs = (purchase_data_df.groupby('Gender').size() / len(purchase_data_df) * 100)
gender_percs

Gender
Female                   14.487179
Male                     83.589744
Other / Non-Disclosed     1.923077
dtype: float64

In [90]:
gender_dems.insert(1, "Percentage", [14.49, 83.59, 1.92])
gender_dems.rename(columns= {"Gender": "Count"})

                       Count  Percentage
Male                     652       14.49
Female                   113       83.59
Other / Non-Disclosed     15        1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
#avg purchase price
female_avg_price = purchase_data.loc[purchase_data["Gender"]=="Female", "Price"].mean()
male_avg_price = purchase_data.loc[purchase_data["Gender"]=="Male", "Price"].mean()
non_avg_price = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed", "Price"].mean()

In [92]:
#total purchase val
female_tot_val = purchase_data.loc[purchase_data["Gender"]=="Female", "Price"].sum()
male_tot_val = purchase_data.loc[purchase_data["Gender"]=="Male", "Price"].sum()
non_tot_val = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed", "Price"].sum()

In [93]:
#avg purchase total per person
female_avg_tot_per = female_tot_val / 113
male_avg_tot_per = male_tot_val / 652
non_avg_tot_per = non_tot_val / 15

In [94]:
#dataframe
per_gender_data_df = pd.DataFrame(
[[113, female_avg_price, female_tot_val, female_avg_tot_per],
[652, male_avg_price, male_tot_val, male_avg_tot_per],
[15, non_avg_price, non_tot_val, non_avg_tot_per]],
index=["Female","Male", "Other / Non-Disclosed"],
columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Purchase Total Per Person"])

In [95]:
per_gender_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [96]:
#bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_bins, labels=groups)

In [97]:
#group columns by age
age_data = purchase_data.groupby(["Age"])
age_data.count()

       Purchase ID   SN  Gender  Item ID  Item Name  Price
Age
<10             23   23      23       23         23     23
10-14           28   28      28       28         28     28
15-19          136  136     136      136        136    136
20-24          365  365     365      365        365    365
25-29          101  101     101      101        101    101
30-34           73   73      73       73         73     73
35-39           41   41      41       41         41     41
40+             13   13      13       13         13     13

In [98]:
#counts by age group
age_u10 = len(purchase_data.loc[purchase_data["Age"]=="<10", :])
age_10_14 = len(purchase_data.loc[purchase_data["Age"]=="10-14", :])
age_15_19 = len(purchase_data.loc[purchase_data["Age"]=="15-19", :])
age_20_24 = len(purchase_data.loc[purchase_data["Age"]=="20-24", :])
age_25_29 = len(purchase_data.loc[purchase_data["Age"]=="25-29", :])
age_30_34 = len(purchase_data.loc[purchase_data["Age"]=="30-34", :])
age_35_39 = len(purchase_data.loc[purchase_data["Age"]=="35-39", :])
age_40 = len(purchase_data.loc[purchase_data["Age"]=="40+", :])

In [99]:
total = age_u10 + age_10_14 + age_15_19 + age_20_24 + age_25_29 + age_30_34 + age_35_39 + age_40

In [100]:
perc_u10 = (age_u10/total) * 100
perc_10_14 = (age_10_14/total) * 100
perc_15_19 = (age_15_19/total) * 100
perc_20_24 = (age_20_24/total) * 100
perc_25_29 = (age_25_29/total) * 100
perc_30_34 = (age_30_34/total) * 100
perc_35_39 = (age_35_39/total) * 100
perc_age_40 = (age_40/total) * 100

In [101]:
# dataframe
age_df = pd.DataFrame(
[[perc_u10, age_u10],
[perc_10_14, age_10_14],
[perc_15_19, age_15_19],
[perc_20_24, age_20_24],
[perc_25_29, age_25_29],
[perc_30_34, age_30_34],
[perc_35_39, age_35_39],
[perc_age_40, age_40]],
index=["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
columns=["Percentage of Players", "Total Count"])

In [102]:
age_df

       Percentage of Players  Total Count
<10                 2.948718           23
10-14               3.589744           28
15-19              17.435897          136
20-24              46.794872          365
25-29              12.948718          101
30-34               9.358974           73
35-39               5.256410           41
40+                 1.666667           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [103]:
#bins
#age_df.count()

In [104]:
#avg purchase price
ageu10_avg_price = purchase_data.loc[purchase_data["Age"]=="<10", "Price"].mean()
age1014_avg_price = purchase_data.loc[purchase_data["Age"]=="10-14", "Price"].mean()
age1519_avg_price = purchase_data.loc[purchase_data["Age"]=="15-19", "Price"].mean()
age2024_avg_price = purchase_data.loc[purchase_data["Age"]=="20-24", "Price"].mean()
age2529_avg_price = purchase_data.loc[purchase_data["Age"]=="25-29", "Price"].mean()
age3034_avg_price = purchase_data.loc[purchase_data["Age"]=="30-34", "Price"].mean()
age3539_avg_price = purchase_data.loc[purchase_data["Age"]=="35-39", "Price"].mean()
age40_avg_price = purchase_data.loc[purchase_data["Age"]=="40+", "Price"].mean()

In [105]:
#total purchase value
ageu10_total = purchase_data.loc[purchase_data["Age"]=="<10", "Price"].sum()
age1014_total = purchase_data.loc[purchase_data["Age"]=="10-14", "Price"].sum()
age1519_total = purchase_data.loc[purchase_data["Age"]=="15-19", "Price"].sum()
age2024_total = purchase_data.loc[purchase_data["Age"]=="20-24", "Price"].sum()
age2529_total = purchase_data.loc[purchase_data["Age"]=="25-29", "Price"].sum()
age3034_total = purchase_data.loc[purchase_data["Age"]=="30-34", "Price"].sum()
age3539_total = purchase_data.loc[purchase_data["Age"]=="35-39", "Price"].sum()
age40_total = purchase_data.loc[purchase_data["Age"]=="40+", "Price"].sum()

In [106]:
#avg total purchase per person
u10_avg_total = ageu10_total / age_u10
age1014_avg_total = age1014_total / age_10_14
age1519_avg_total = age1519_total / age_15_19
age2024_avg_total = age2024_total / age_20_24
age2529_avg_total = age2529_total / age_25_29
age3034_avg_total = age3034_total / age_30_34
age3539_avg_total = age3539_total / age_35_39
age40_avg_total = age40_total / age_40

In [107]:
#dataframe
age_datapercs_df = pd.DataFrame(
[[age_u10, ageu10_avg_price, ageu10_total, u10_avg_total],
[age_10_14, age1014_avg_price, age1014_total, age1014_avg_total],
[age_15_19, age1519_avg_price, age1519_total, age1519_avg_total],
[age_20_24, age2024_avg_price, age2024_total, age2024_avg_total],
[age_25_29, age2529_avg_price, age2529_total, age2529_avg_total],
[age_30_34, age3034_avg_price, age3034_total, age3034_avg_total],
[age_35_39, age3539_avg_price, age3539_total, age3539_avg_total],
[age_40, age40_avg_price, age40_total, age40_avg_total]],
index=["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Purchase Total Per Person"])

In [108]:
age_datapercs_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [109]:
total_purchase_value = purchase_data.groupby("SN")["Price"].sum()
purchase_count = purchase_data.groupby("SN")["Price"].count()
average_purchase_price = purchase_data.groupby("SN")["Price"].mean()

In [110]:
#dataframe
top_spenders_df = ({"Total Purchase Value": total_purchase_value, "Purchase Count": purchase_count, "Average Purchase Price": average_purchase_price})

In [111]:
#sort
top_spenders_df.sort_values(by='Total Purchase Value', ascending = False, inplace=True)

AttributeError: 'dict' object has no attribute 'sort_values'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80